<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"><body>
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Reset Password</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<h1 class="py-5">Reset Password</h1>

<!--    // todo make this send json in body not url-form-encoded-->
<form class="col card p-3 mb-5" action="#" method="post" th:action="@{${changeEmailUrl}(code=${code})}" th:object="${changeEmailDto}" content="json">
    <div class="form-group">
        <label for="newEmail">Enter new Email</label>
        <input class="form-control" id="newEmail" placeholder="New Email" required
               th:field="*{newEmail}"
               type="text"/>
    </div>
    <input class="btn btn-primary" type="submit" value="Reset" content="json">
</form>
</body>
</html>