<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="io.github.vincemann" level="DEBUG"/>
    <logger name="com.naturalprogrammer.spring" level="DEBUG"/>
    <logger name="org.springframework.security.acls" level="DEBUG"/>
    <logger name="com.zaxxer.hikari" level="debug" additivity="false"/>
</configuration>
