<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"><body>
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Reset Password</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<h1 class="py-5">Reset Password</h1>
<!--&lt;!&ndash;    // passing url param like this&ndash;&gt;-->
<!--    <form method="post" th:action="@{/change-password}" th:object="${changePasswordDto}">-->
<!--&lt;!&ndash;        <label th:text="#{label.user.password}">password</label>&ndash;&gt;-->
<!--        <input id="password" placeholder="Enter new Password" name="newPassword" type="password" value="" th:field="*{password}"/>-->

<!--&lt;!&ndash;        <label th:text="#{label.user.confirmPass}">confirm</label>&ndash;&gt;-->
<!--        <input id="matchPassword" type="password" value="" th:field="*{matchPassword}" />-->

<!--        &lt;!&ndash;        <div id="globalError" style="display:none" &ndash;&gt;-->
<!--        &lt;!&ndash;             th:text="#{PasswordMatches.user}">error&ndash;&gt;-->
<!--        &lt;!&ndash;        </div>&ndash;&gt;-->
<!--        &lt;!&ndash;        <button onclick="savePass()" th:text="#{message.updatePassword}"&ndash;&gt;-->
<!--        &lt;!&ndash;                type="submit">submit&ndash;&gt;-->
<!--        &lt;!&ndash;        </button>&ndash;&gt;-->
<!--        <button class="link-button" name="submit" type="submit" value="value">-->
<!--            SUBMIT-->
<!--        </button>-->
<!--    </form>-->



    <form class="col card p-3 mb-5" method="post" th:action="@{/change-password/}" th:object="${changePasswordDto}">
        <div class="form-group">
            <label for="password">First Name</label>
            <input class="form-control" id="password" placeholder="Enter Password" required
                   th:field="*{password}"
                   type="text"/>
        </div>
        <div class="form-group">
            <label for="matchPassword">Last Name</label>
            <input class="form-control" id="matchPassword" placeholder="Enter matching Password" required
                   th:field="*{matchPassword}"
                   type="text"/>
        </div>
        <input class="btn btn-primary" type="submit" value="Reset">
    </form>

    <!--    <script th:inline="javascript">-->
    <!--        var serverContext = [[@{/}]];-->
    <!--            $(document).ready(function () {-->
    <!--                $('form').submit(function(event) {-->
    <!--                    savePass(event);-->
    <!--                });-->

    <!--                $(":password").keyup(function(){-->
    <!--                    if($("#password").val() != $("#matchPassword").val()){-->
    <!--                        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);-->
    <!--                    }else{-->
    <!--                        $("#globalError").html("").hide();-->
    <!--                    }-->
    <!--                });-->
    <!--            });-->
    <!--        $(document).ready(function () {-->
    <!--            $('form').submit(function (event) {-->
    <!--                savePass(event);-->
    <!--            });-->

    <!--            function savePass(event) {-->
    <!--                event.preventDefault();-->
    <!--                // if($("#password").val() != $("#matchPassword").val()){-->
    <!--                //     $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);-->
    <!--                //     return;-->
    <!--                // }-->
    <!--                var formData = $('form').serialize();-->
    <!--                // $.get(serverContext + "show-users",formData ,function(data){-->
    <!--                // $.post("localhost:8080/show-users",formData ,function(data){-->
    <!--                $.post("http://localhost:8080/change-password",formData, function (data) {-->
    <!--                    window.location.href = serverContext + "show-users"-->
    <!--                    console.log("send post request to change password");-->
    <!--                    console.log(data);-->
    <!--                    // window.location.href = serverContext + "login?message="+data.message;-->
    <!--                })-->
    <!--                // .fail(function(data) {-->
    <!--                //     if(data.responseJSON.error.indexOf("InternalError") > -1){-->
    <!--                //         printf("epic fail")-->
    <!--                //         window.location.href = serverContext + "login?message=" + data.responseJSON.message;-->
    <!--                //     }-->
    <!--                //     else{-->
    <!--                //         var errors = $.parseJSON(data.responseJSON.message);-->
    <!--                //         $.each( errors, function( index,item ){-->
    <!--                //             $("#globalError").show().html(item.defaultMessage);-->
    <!--                //         });-->
    <!--                //         errors = $.parseJSON(data.responseJSON.error);-->
    <!--                //         $.each( errors, function( index,item ){-->
    <!--                //             $("#globalError").show().append(item.defaultMessage+"<br/>");-->
    <!--                //         });-->
    <!--                //     }-->
    <!--                // });-->
    <!--            }-->
    <!--    </script>-->
</body>
</html>